<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>if, unless 문법</h1>
  <table border="1">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>구분</th>
      <th>세대</th>
    </tr>
    <tr th:each="user, i : ${userList}" th:object="${user}">
      <td th:text="${i.count}">No</td>
      <td th:text="*{userName}">Name</td>
      <td th:text="*{userAge}">Age</td>
      <td th:text="*{userAddress}">Address</td>
<!--      <td th:text="*{userAge} > 20 ? '성년' : '미성년'">성년자</td>-->
      <td th:text="미성년" th:if="*{userAge} < 20"></td>
      <td th:text="성년" th:unless="*{userAge} < 20"></td>
      <td th:switch="*{userAge / 10}">
        <span th:case="1">10대</span>
        <span th:case="2">20대</span>
        <span th:case="*">기타</span>
      </td>
    </tr>
  </table>
</body>
</html>