<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>LocalDateTime</h1>
  <ul>
    <li> default : [[ ${nowDateTime} ]] </li>
    <li> #temporals 유틸리티 사용하기</li>
      <li>yyyy-MM-dd HH:mm:ss =
          <span th:text="${#temporals.format(nowDateTime,
                            'yyyy-MM-dd HH:mm:ss')}"></span></li>
      <li>yyyy-MM-dd/a hh:mm =
          <span th:text="${#temporals.format(nowDateTime,
                             'yyyy-MM-dd(a) hh:mm')}"></span></li>
  </ul>
  <h1>LocalDateTime - Utils</h1>
  <ul>
      <li>${#temporals.day(localDateTime)} =
          <span th:text="${#temporals.day(nowDateTime)}"></span></li>
      <li>${#temporals.month(localDateTime)} =
          <span th:text="${#temporals.month(nowDateTime)}"></span></li>
      <li>${#temporals.monthName(localDateTime)} =
          <span th:text="${#temporals.monthName(nowDateTime)}"></span></li>
      <li>${#temporals.monthNameShort(localDateTime)} =
          <span th:text="${#temporals.monthNameShort(nowDateTime)}"></span></li>
      <li>${#temporals.year(nowDateTime)} =
          <span th:text="${#temporals.year(nowDateTime)}"></span></li>
      <li>${#temporals.dayOfWeek(nowDateTime)} =
          <span th:text="${#temporals.dayOfWeek(nowDateTime)}"></span></li>
      <li>${#temporals.dayOfWeekName(localDateTime)} =
          <span th:text="${#temporals.dayOfWeekName(nowDateTime)}"></span></li>
      <li>${#temporals.dayOfWeekNameShort(localDateTime)} =
          <span th:text="${#temporals.dayOfWeekNameShort(nowDateTime)}"></span></li>
      <li>${#temporals.hour(nowDateTime)} =
          <span th:text="${#temporals.hour(nowDateTime)}"></span></li>
      <li>${#temporals.minute(nowDateTime)} =
          <span th:text="${#temporals.minute(nowDateTime)}"></span></li>
      <li>${#temporals.second(nowDateTime)} =
          <span th:text="${#temporals.second(nowDateTime)}"></span></li>
      <li>${#temporals.nanosecond(nowDateTime)} =
          <span th:text="${#temporals.nanosecond(nowDateTime)}"></span></li>
  </ul>
</body>
</html>